/* GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    color: #222;
}

/* NAVBAR */
nav {
    background: #000;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: #000;
    color: white;
}
.hero span {
    color: #08f;
}

/* BOX SECTION */
.box, .projects {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* PROJECT CARD */
.project {
    background: #fafafa;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background: #efefef;
    font-size: 14px;
}
